* {margin:0;padding:0;
   text-transform:capitalize;
   text-decoration:none !important;
   outline:none !important;
   list-style:none;
   transition: all .3s;}

:root {--box-shadow:0 0 .5rem #090a0a7a;
       --box-shadow2:0 .5rem 1.5rem #0d2e2e23;
       --box-shadow3:0 .3rem 4rem #252c2c2f;
       --box-shadow4:0 0 4px #000;
       --box-shadow5:0 5px 10px rgba(0,0,0,0.3);
       --box-shadow6:2px 2px 5px #eee;
       --text-shadow:0 0 5px rgb(5, 5, 5);}

html {font-size:90%;}

body {overflow-x:hidden;}

section {padding:3rem 0 5rem;}

.section-heading {text-align:center;
                  margin-bottom:4rem;}

.section-heading .section-title {text-transform:uppercase;
                                 text-align:center;}    
                
.section-heading .underline {background:#7b1798;
                             width:10rem;
                             height:5px;
                             margin:0 auto;
                             border-radius:3px;
                             margin-top:0.2rem;}

.section-heading .underline .mini-underline {background:#cf46c4;
                                             height:5px;
                                             width:5rem;
                                             margin:0 auto;}  
                                





/************************ 
  # Start service
************************/
.service-section {background-image:linear-gradient(rgba(0,0,0,0.4), rgba(0,0,0,0.4)), url(../img/office.jpg);
                  background-blend-mode:multiply;
                  background-size:cover;
                  background-attachment:fixed;
                  background-position:center;
                  height:35rem;
                  position:relative}

.service-section .section-heading h2 {color:#fff;}

.service-section .section-heading .underline {background-color:#fff;}

.service-section .section-heading .underline .mini-underline {background-color:rgb(110, 110, 110);}

.service-section .stat {margin:35px 0;}

.service-section .stat-icon {}

.service-section .icons {color:#fff;
                         background:transparent;
                         border:2px solid #fff;
                         padding:1rem;
                         width:3.9rem; 
                         height:3.9rem;
                         border-radius:50%;}

.service-section h3 {display:block;
                     margin-top:10px;
                     margin-bottom:10px;
                     color:#fff;
                     text-shadow: 0 0 4px #000;}

.service-section .timer, 
.service-section p   {color:#fff;
                       text-shadow: 0 0 4px #000;
                       font-size:1.2rem;}









@media (max-width:768px){

    html {font-size:80%;}

    header .main-header {padding:1rem 2rem;}

    header .navbar {position:absolute;
                    top:100%;
                    left:0;right:0;
                    padding-top:2.5rem;
                    background:linear-gradient(#a517ba,#5f1782);
                    border-top:1px solid #333;
                    border-bottom:1px solid #333;
                    clip-path:polygon(0 0, 100% 0, 100% 0, 0 0);
                    transition:0.5s linear;}

    header .navbar.active {clip-path:polygon(0 0, 100% 0, 100% 100%, 0% 100%);}

    /* close & open */ 
    header .main-header .navbar .canvas_close {display:block;}

    header .main-header .navbar .canvas_close .fa-times {display:block;
                                                         position:absolute;
                                                         top:1rem;right:1.5rem;}

    header .main-header .canvas_open {display:block;}

    header .main-header .fa-bars {display:block;}
    

    header .navbar ul {display:block;
                       width:100%;}

    header .navbar li {display:block;
                       padding:1rem;
                       padding-left:2rem;
                       margin:1rem;
                       background:#333;
                       border:1px solid #222;
                       border-radius:.5rem;
                       box-shadow:var(--box-shadow2);
                       cursor:pointer;}

    header .navbar li:hover {background:#444;}

    .section-title::before {transform:translateY(40px);}

    .section-title::after {transform:translateY(9px);}

    .home .home-1 {margin-bottom:5rem;}

    .home .home-1 .home-info {margin:auto;}

    .about .aboutwidget-1 {margin-bottom:2rem;}

    .about .about-info {margin-left:10%;}

    footer .container {padding-left:1.5rem;}

    footer .underline {width:30%;}

    .footer-widget-3 {padding-left:1rem;}



}

@media (min-width:600px) and (max-width:768px){

     .service-section {height:40rem;}

      .service-section .stat {margin:40px 0;}

}


@media (max-width:600px){

      .service-section {height:55rem;}

      .service-section .stat {margin-top:10px;
                         margin-bottom:20px;}

}


@media (max-width:570px){

       .service .services .our-services::before {content:'';
                                                 position:absolute;
                                                 top:0;left:0;
                                                 width:70%;
                                                 height:70%;}

       .service .services .our-services:hover::before {clip-path:circle(100%);
                                                       width:100%;
                                                       height:100%;}

     

      footer .underline {width:20%;}

      .main-footer .footer-bottom .policy {margin-left:4%;}

}